body {
	background-color: lightblue;
	opacity: 0.9;
	font-family: Helvetica;
}

.table-responsive {
	border-style: none;
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

.carousel-inner  { 
	padding: 5%;
	
}

img {
  border: 5px solid #555;
}

#textbox {
	padding: 5%;
}
#textbox1 {
	padding: 5%;
}

#textbox2 {
	padding: 5%;
}

#textbox3 {
	padding: 5%;
}

footer{
	color: #808080;
   
}
